#root {
  max-width: 1280px;
}

/* css for home */

.cart-count{
  
  position: absolute;
  right: 105px;
  top: 15px;
  z-index: 1;
  background-color: red;
  padding: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
}
.cart-img{
  height: 40px;
  width: 40px;
  position: absolute;
  right: 9%;
  top:2%;
}
.mobile-img{
  height: 300px;
}
.cart-wrapper{
  padding: 20px;
  border: 1px solid black;
}
.btn-cart{
  background-color: #4078e0;
  color: white;
}

